* {
	font-family: var(--font);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--white);
}
html {
	min-width: 360px;
	height: 100%;
}
/* start på header */
header {
	background: linear-gradient(rgba(8, 16, 32, 0.8), rgba(8, 16, 32, 0.8)), url(/Bilder/kod2.jfif);
	background-repeat: no-repeat;
	background-size:cover;
	background-position: bottom left;
	height: 8em;
}
.head {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 8em;
}
ul li {
	list-style-type: none;
	font-weight: bold;
	margin: 0.6em;
}
a {
	color: var(--white);
	text-decoration: none;
	transition: color 400ms ease-in-out;
}
a:hover {
	color: var(--green);
}
.header__btn {
	background-color: var(--green);
	color: var(--white);
	padding: .5em 1em;
	text-align: center;
	position: relative;
	outline: none;
	border: none;
	z-index: 1;
	transition: color 300ms ease-in-out;
	font-weight: bold;
	font-size: 1em;
}
.header__btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--white);
	z-index: -1;

	transition: transform 300ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
}
.header__btn:hover::before,
.header__btn:focus::before {
	transform: scaleX(1);
}
.header__btn:hover,
.header:focus {
	color: var(--darkblue);
}
h1 {
	font-family: var(--logga);
	color: var(--white);
	font-size: 36px;
}
span {
	font-family: 'Lobster', cursive;
	color: var(--green);
	font-size: 32px;
}
/* slut på header */
.hero__img {
	display: flex;
	background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Bilder/iStock-1163542789.jpg);
	min-width: 100%;
	height: 25em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	object-position: 100% 10%;
}
h3{
	color: var(--white);
	font-family: var(--text);
	font-size: 24px;
}
.better {
	color: var(--white);
	font-size: 32px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.container__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20em;
	height: 22em;
	background-color: #ffffff;
	margin: 4em 3em 1em 3em;
	box-shadow: 6.5px 13.0px 13.0px hsl(0deg 0% 0% / 0.10); 
	align-items: center;
}
.container__card > h4 {
	text-align: center;
	padding: 2.75em 2em;
	font-size: 24px;
	color: var(--green);
	width: 100%;
}
.friday {
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)),url("/Bilder/kanske.jpg");
	background-size: cover;
}
.saturday {
	background-image: url("/Bilder/lördag.jpg");
	background-size: cover;
}
.sunday {
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.65)), url("/bilder/söndag.jpg");
	background-size: cover;
}
.card__btn {
	position: relative;
	font-size: 1em;
	font-weight: bold;
	background-color: var(--green);
	border: none;
	outline: none;
	padding: 0.5em 1em;
	color: var(--white);
	z-index: 1;
	transition: color 300ms ease-in-out;
}
.card__btn::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--darkblue);
	z-index: -1;

	transition: transform 300ms ease-in-out;
	transform: scaleX(0);
	transform-origin: left;
}
.card__btn:hover::before,
.card__btn:focus::before {
	transform: scaleX(1);
}
.card__btn:hover,
.card__btn:focus {
	color: var(--green);
}

.container__card > p {
	font-weight: bold;
	margin: 1em 1em 1em 1.5em;
}
.loggor{
	display: flex;
	justify-content: space-evenly;
	margin: 3em 1em;
}
.loggor > img {
	height: 3em;
}

footer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	background-color: var(--darkblue);
	height: 15em;
	font-size: 80%;
	margin-top: auto;
}
footer .better {
	font-size: 28px;
}
footer span {
	font-size: 28px;
}
.footer__mid span, .footer__bottom span {
	font-family: var(--text);
	font-size: 12px;
}
footer p {
	color: var(--white);
	margin-top: 1em;
}
.footer__bottom i {
	font-size: 2em;
}
.footer__bottom p {
	margin-top: 2em;
}
@media (min-width: 500px) {
	.container__card {
		width: 25em;
	    height: 28em;
	}
	.container__card > h4 {
		padding: 3.5em 3em;
	}
}
@media (min-width: 750px) {
	.head {
		justify-content: space-around;
		
	}
	.header__btn {
		margin-left: 1em;
	}
	.hero__img {
		height: 35em;
	}
	.container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.container__card {
		width: 25em;
		flex-shrink: 0;
	}
	.loggor {
		margin: 7em 5em ;
	}
	.loggor > img {
		height: 4em;
	}
	h3 {
		font-size: 36px;
	}
	.better {
		font-size: 40px;
	}
	span {
		font-size: 40px;
	}
	ul {
		display: flex;
		align-items: center;
	}
	ul li {
		margin: 1.5em;
	}
}

